<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cast 3D - The Cast 3D Printing Guide</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
	{% block head %}{% endblock %}
</head>

<body>
	<div class="site-shell">
		<header class="site-header">
			<div class="site-header-inner">
				<div id="title">Cast 3D</div>
				<nav id="links">
					<a class="linkbtn {% if request.endpoint == 'home' %}active{% endif %}"
						href="{{ url_for('home') }}">Guide</a>
					<a class="linkbtn {% if request.endpoint == 'compare' %}active{% endif %}"
    					href="{{ url_for('compare') }}">Compare</a>
					<a class="linkbtn {% if request.endpoint == 'submit' %}active{% endif %}"
    					href="{{ url_for('submit') }}">Add Data</a>
					<a class="linkbtn {% if request.endpoint == 'about' %}active{% endif %}"
						href="{{ url_for('about') }}">About</a>

					<a class="linkbtn {% if request.endpoint == 'process' %}active{% endif %}"
						href="{{ url_for('process') }}">Process</a>

					
				</nav>
			</div>
		</header>

		<main class="page-container">
			{% block body %}{% endblock %}
		</main>
	</div>
</body>

</html>