{% extends 'base.html' %}

{% block head %}
<style>
	.div_a {
		width: 100%;
		padding: 5px;
		background-color: white;
		text-align: left;
		display: flex;
	}

	.div_b {
		width: 100%;
		padding: 5px;
		background-color: #fee9e1;
		text-align: left;
		display: flex;
	}

	.section {
		text-align: center;
		width: 17%;
	}

	.content {
		width: 60%;
	}
</style>
{%endblock%}

{% block body %}
<div class="div_b">
	<div class="section">
		<h1> Casting Material Choices</h1>
	</div>
	<div class="content">
		<p> For our casting materials, we decided that the hardness of the material would be the most important
			property, so we selected a variety of hardnesses, and a mold release agent to go with them. <br> They had
			thefollowing Shore hardness: <br> Silicone Rubber - 10A <br> Urethane Rubber - 60A <br> Urethane Resin - 80D
			<br>The exact product we used is avalible at: <a
				href="https://www.smooth-on.com/products/">https://www.smooth-on.com/products/</a>
		</p>
	</div>
</div>
<div class="div_a">
	<div class="section">
		<h1> Molding Material Choices</h1>
	</div>
	<div class="content">
		<p> 4 Molding Materials were used they are:
			<br>PLA - Basic/default material, cheap and generally well rounded material.
			<br>PETG - common material with some different material properties to PLA (such as heat resistance, layer
			adhesion, and surface finish).
			<br>TPU - A flexible material, while it's harder to print with the flex might make mold releasing easier.
			<br>ASA - We want to use ASA as it is known for it's ability to be smoothed with the use of acetone, which
			might help get better casts that release easier with eliminated layer lines and its high heat resistance.
		</p>
	</div>
</div>
<div class="div_b">
	<div class="section">
		<h1> 3D Printing</h1>
	</div>
	<div class="content">
		<p> Here is the information about the settings we used for printing</p>
	</div>
</div>
<div class="div_b">
	<div class="section">
		<h1> Processing Molds</h1>
	</div>
	<div class="content">
		<p> Here is the full list of steps we took to post process molds before casting </p>
	</div>
</div>
<div class="div_a">
	<div class="section">
		<h1> Casting </h1>
	</div>
	<div class="content">
		<p> Here is detailed info about the steps we took to cast using our prepared molds
		<p>
	</div>
</div>
<div class="div_b">
	<div class="section">
		<h1> Demolding</h1>
	</div>
	<div class="content">
		<p> Here is info about the things we paid attention to while demolding parts</p>
	</div>
</div>
<div class="div_a">
	<div class="section">
		<h1> Other considerations</h1>
	</div>
	<div class="content">
		<p> here is a list of anything else we wanted to mention</p>
	</div>
</div>

{%endblock%}