{% extends 'base.html' %}

{% block head %}
<style>
	.div_a {
		width: 100%;
		padding: 5px;
		background-color: white;
		text-align: left;
		display: flex;
	}

	.div_b {
		width: 100%;
		padding: 5px;
		background-color: #fee9e1;
		text-align: left;
		display: flex;
	}

	.section {
		text-align: center;
		width: 17%;
	}

	.content {
		width: 60%;
	}
</style>
{%endblock%}

{% block body %}
<div class="div_b">
	<div class="section">
		<h1> Casting Material Choices</h1>
	</div>
	<div class="content">
		<p> For our casting materials, we decided that the hardness of the material would be the most important
			property, so we selected a variety of hardnesses, and a mold release agent to go with them. <br> They had
			thefollowing Shore hardness: <br> Silicone Rubber - 10A <br> Urethane Rubber - 60A <br> Urethane Resin - 80D
			<br>The exact product we used is avalible at: <a
				href="https://www.smooth-on.com/products/">https://www.smooth-on.com/products/</a>
		</p>
	</div>
</div>
<div class="div_a">
	<div class="section">
		<h1> Molding Material Choices</h1>
	</div>
	<div class="content">
		<p> 4 Molding Materials were used they are:
			<br>PLA - Basic/default material, cheap and generally well rounded material.
			<br>PETG - common material with some different material properties to PLA (such as heat resistance, layer
			adhesion, and surface finish).
			<br>TPU - A flexible material, while it's harder to print with the flex might make mold releasing easier.
			<br>ASA - We want to use ASA as it is known for it's ability to be smoothed with the use of acetone, which
			might help get better casts that release easier with eliminated layer lines and its high heat resistance.
		</p>
	</div>
</div>
<div class="div_b">
	<div class="section">
		<h1> 3D Printing</h1>
	</div>
	<div class="content">
		<p> The 3D printing settings were kept pretty basic throught the process.
			<br> We used a layer height of 0.2mm, 15% infill and a nozzle diameter of 0.4mm.<br>
			All other temperature settings for beds and nozzels were set to the reccommended settings for each material.
			<br> Prints were completed Bambu Labs X1 Carbon,A1 and P1P printers.
	</div>
</div>
<div class="div_a">
	<div class="section">
		<h1> Processing Molds</h1>
	</div>
	<div class="content">
		<p> Many of our molds required very little post processing, however the TPU was extremly stringy and a heat gun
			was used to melt away the strings. </p>
	</div>
</div>
<div class="div_b">
	<div class="section">
		<h1> Casting </h1>
	</div>
	<div class="content">
		<p> For casting, we followed the reccommended mixing ratios for each material, and we also made sure to use a
			mold release agent on all of our molds to ensure that the castings would release easily.
			<br>Unfortunatley we did not have access to a vacuum chamber to degas the materials before pouring them into
			the molds.
		</p>
		<br> Here is the release agent we used: <a
			href="https://www.amazon.com/Super-Seal-Ease-Release-2oz/dp/B00ETBM2IY">
			https://www.amazon.com/Super-Seal-Ease-Release-2oz/dp/B00ETBM2IY
		</a>

		<p>
	</div>
</div>
<div class="div_a">
	<div class="section">
		<h1> Demolding</h1>
	</div>
	<div class="content">
		<p>Here is a description of the categories evaluated during the demolding process:
			<br>Workability - how easy the casting materials were to work with, such as how easy they were to mix and
			pour. As well as how well they came out of the mold.
			<br>Fine Detail & Accuracy - how well the casting material captured fine details of the mold, were there any
			imperfections in the castings, and how accurate were the dimensions of the castings.
			<br>Mechanical Strength - how strong the castings were, did they break easily, and how well did they hold up
			to stress.
			<br>Mold Reusability - how well the molds held up to multiple castings, did they degrade quickly or were
			they able to be used multiple times without issue.
		</p>
	</div>
</div>
<div class="div_b">
	<div class="section">
		<h1> Other considerations</h1>
	</div>
	<div class="content">
		<p> Casting Urethane Resin was almost impossible, the material released significant heat and fused with many of
			the casts.
			It may be helpful to chill the molds beforehand. </p>
	</div>
</div>

{%endblock%}