{% extends 'home-guide.html' %}
{% from './macros.html' import rec, recb, unrec, unrecb%}

{% block material %}
<p> Silicone comes out of molds quite easily, so when you want to use it your main focus should be on using a material that prints easily. </p>
{% endblock %}

{%block recs%}
{{rec('PLA', 'PLA is easily the first choice for anyone looking to mold out of silicone. It\'s incredibly easy to print and has no issues releasing from molds.')}}
{{recb('PETG', 'PETG releases castings just as easily as PLA, and the filament is nearly as easy to work with if you have a decent printer.')}}
{%endblock%}

{%block unrecs%}
{{unrecb('TPU', 'TPU should be generally avoided. It\'s flexibility makes it difficult to print, and it also makes it harder to release flexible materials like silicone.')}}
{{unrec('ASA', 'ASA isn\'t particularly bad for casting silicone, it\'s just generally unremarkable and is often harder to work with than other materials.')}}
{%endblock%}

{%block process%}
{%endblock%}
